@media (prefers-color-scheme: dark) {
 
  html,
  body,
  input,
  textarea,
  select,
  button, .settings_tab-settings {
    background-color: #343434;
  }
  html,
  body,
  input,
  textarea,
  select,
  button {
    border-color: #736b5e;
    color: #e8e6e3;
  }
  a {
    color: #3391ff;
  }
  table {
    border-color: #545b5e;
  }
  ::placeholder {
    color: #b2aba1;
  }
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: #555b00 !important;
    color: #e8e6e3 !important;
  }
  ::selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
  }
  ::-moz-selection {
    background-color: #004daa !important;
    color: #e8e6e3 !important;
  }

  /* Invert Style */
  .jfk-bubble.gtx-bubble,
  .captcheck_answer_label > input + img,
  embed[type="application/pdf"] {
    filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
  }

  /* Variables Style */
  :root {
    --darkreader-neutral-background: #343434;
    --darkreader-neutral-text: #e8e6e3;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
  }

  /* Modified CSS */
  body, html {
    background-image: initial;
    background-color: #242424;
  }
  .main__layout__wrapper-header {
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 0px,
      rgba(24, 26, 27, 0.3) -1px -1px 2px 0px;
  }
  .profile,
  .settings,
  .button {
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 0px,
      rgba(24, 26, 27, 0.3) -1px -1px 2px 0px;
    background-image: initial;
    background-color:#343434;
  }
  .left-links p a {
    color: rgba(232, 230, 227, 0.15);
  }
  .avatar {
    background-color:#343434;
    border-color: rgb(48, 52, 54);
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 0px,
      rgba(24, 26, 27, 0.3) -1px -1px 2px 0px;
  }
  .profile__username {
    color: rgba(232, 230, 227, 0.6);
  }
  .dropbtn {
    color: rgba(232, 230, 227, 0.6);
    border-color: initial;
    background-image: none;
    background-color: initial;
  }
  .dropdown-content {
    background-color: rgb(27, 29, 30);
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 0px,
      rgba(24, 26, 27, 0.3) -1px -1px 2px 0px;
  }
  .dropdown-content a {
    text-decoration-color: initial;
  }
  .profile__birthday {
    color: rgba(232, 230, 227, 0.6);
  }
  .link__wrapper {
    background-image: initial;
    background-color:#343434;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 0px,
      rgba(24, 26, 27, 0.3) -1px -1px 2px 0px;
  }
  .settings a {
    color: rgba(232, 230, 227, 0.6);
    text-decoration-color: initial;
  }
  .active {
    background-image: initial;
    background-color: rgb(95, 103, 107);
  }
  .button a {
    color: rgb(232, 230, 227);
  }
  .button-success {
    background-image: initial;
    background-color: rgb(42, 156, 114);
    box-shadow: none;
  }
  .button-danger {
    background-color: rgb(137, 10, 10);
  }
  .settings__save a,
  .settings__cancel a {
    color: rgb(232, 230, 227);
  }
  .active a {
    color: rgb(232, 230, 227);
  }
  .link__select {
    border-color: initial;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 0px,
      rgba(24, 26, 27, 0.3) -1px -1px 2px 0px;
  }
  .link__select:focus {
    outline-color: initial;
  }
  option[disabled] {
    background-color: rgb(44, 47, 49);
    color: rgb(232, 230, 227);
  }
  .cover__background__select {
    background-image: none;
    background-color: initial;
    border-color: initial;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 0px,
      rgba(24, 26, 27, 0.3) -1px -1px 2px 0px;
  }
  .avatar__background__select {
    background-image: none;
    background-color: initial;
    border-color: initial;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 0px,
      rgba(24, 26, 27, 0.3) -1px -1px 2px 0px;
  }
  .Loader div {
    border-color: rgb(62, 68, 70) transparent transparent;
  }
  .input__input {
    border-color: initial;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 0px,
      rgba(24, 26, 27, 0.3) -1px -1px 2px 0px;
  }
  .input__input:focus {
    border-color: initial;
    outline-color: initial;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px 0px inset,
      rgba(24, 26, 27, 0.5) -1px -1px 2px 0px inset;
  }
  ::placeholder {
    opacity: 0.5 !important;
  }
  .register_login {
      box-shadow: none;
      border: none;
  }

  .settings_tab-settings {
    box-shadow: none;
  }

  form {
    box-shadow: none;
    background-color: #343434;
  }
}
