*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-display: swap;
}

body {
  background: var(--light_2);
  overflow-x: hidden;
}

@font-face {
  font-family: "GolosTextRegular";
  src: url("../fonts/Golos_Text_Regular.ttf");
}

@font-face {
  font-family: "GolosTextMedium";
  src: url("../fonts/Golos_Text_Medium.ttf");
}

@font-face {
  font-family: "GolosTextDemibold";
  src: url("../fonts/Golos_Text_DemiBold.ttf");
}

@font-face {
  font-family: "GolosTextBold";
  src: url("../fonts/Golos\ Text_Bold.ttf");
}

* {
  font-family: GolosTextRegular;
}

html {
  overflow-x: hidden;
}

a,
a:visited {
  color: #3391ff;
  text-decoration: none;
}

:root {
  --border_radius: 10px;
  --shadow__main: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  --main_gray: rgba(0, 0, 0, 0.6);

  --NOT_ACTIVE_SHADOW: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  --NOT_ACTIVE_SHADOW_2: 1px 1px 2px 0 rgba(0, 0, 0, 0.25),
    -1px -1px 2px 0 rgba(255, 255, 255, 0.3);
  --ACTIVE_SHADOW: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  --ACTIVE_SHADOW_2: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2),
    inset -1px -1px 2px 0 rgba(255, 255, 255, 0.5);
  --border_raduis: 5px;
  --blue: #556ee6;
  --indigo: #564ab1;
  --purple: #6f42c1;
  --red: #f46a6a;
  --orange: #f1734f;
  --yellow: #f1b44c;
  --green: #34c38f;
  --teal: #050505;
  --cyan: #50a5f1;
  --white: #fff;
  --gray: #74788d;
  --gray-dark: #343a40;
  --primary: #556ee6;
  --secondary: #74788d;
  --success: #34c38f;
  --info: #50a5f1;
  --warning: #f1b44c;
  --danger: #f46a6a;
  --light: #eff2f7;
  --dark: #343a40;
  --pink: #e83e8c;
  --light_2: #f8f8fb;
  --shadow__main: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  --shadow__secondary: 0 6px 28px 0 rgba(24, 52, 117, 0.1);
}

.main__layout__wrapper {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main__layout__wrapper-header {
  max-width: 100%;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
  box-sizing: border-box;
  min-height: 150px;
  max-height: 150px;
  background-size: cover !important;
  background-position: center;
  background-repeat: repeat-x;
  /* background-repeat: no-repeat !important; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.main__header {
  flex-direction: column;
}

.main__layout__wrapper-content {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.main__layout__wrapper-content__left {
  min-width: 340px;
  box-sizing: border-box;
  position: relative;
  max-width: 340px;
}

.main__layout__wrapper-content__main {
  width: 100%;
  box-sizing: border-box;
}

.profile,
.settings,/* .links,*/
.button {
  /*links*/
  border-radius: var(--border_radius);
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
  background: white;
  padding: 10px;
  margin-bottom: 20px;
}

.profile {
  /* min-height: 150px; */
  position: sticky;
  top: 20px;
  max-height: 100%;
}

.left-links {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-around;
  max-width: 300px;
  margin: auto;
}

.left-links p a {
  color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-weight: bold;
}

.avatar {
  width: 130px;
  height: 130px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid white;
  box-sizing: border-box;
  position: absolute;
  top: -150px;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatar {
  background-position: center !important;
  background-size: contain !important;
}

.profile__name {
  display: flex;
  justify-content: space-between;
}

.profile__name-name {
  font-weight: bold;
  font-size: 26px;
}

.profile__username {
  font-size: 14px;
  color: var(--main_gray);
}

.dropbtn {
  color: var(--main_gray);
  font-size: 16px;
  border: none;
  background: none;
}

.profile__name-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--light_2);
  min-width: 160px;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
  border-radius: var(--border_radius);
  z-index: 1;
}

.dropdown-content span {
  color: var(--black);
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.profile__name-menu:hover .dropdown-content {
  display: block;
}

.profile__bio,
.profile__bio.profile__bio__settings {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: 100%;
  max-height: 160em;
  line-height: 1.6em;
  overflow: visible;
  white-space: pre-wrap;
}

.profile__bio {
  overflow: hidden;
}

.profile__bio.profile__bio__settings {
  margin-bottom: 30px;
}

.profile__birthday {
  font-size: 12px;
  color: var(--main_gray);
  margin-top: 10px;
}

.link__icon {
  height: 40px;
}

.profile__link__icon {
  display: flex;
  align-items: center;
}

.link__icon img {
  height: 40px;
  border-radius: var(--border_radius);
  max-width: 50px;
  overflow: hidden;
  /* box-shadow: var(--NOT_ACTIVE_SHADOW_2); */
}

.link__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: white;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: var(--border_radius);
  box-sizing: border-box;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
  position: relative;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.profile__link__wrapper {
  /* max-width: 250px; */
  max-width: 90%;
}

.profile__link__texts {
  overflow: hidden;
}

.link__title {
  font-size: 18px;
  /* font-weight: bold; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.link__href {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.link__texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-between; */
  max-width: 100%;
  margin-left: 5px;
  position: relative;
  /* overflow: hidden; */
}

.settings a {
  color: var(--main_gray);
  text-decoration: none;
}

.settings {
  position: sticky;
  top: 210px;
}

.active {
  box-shadow: var(--ACTIVE_SHADOW_2);
  border: 1px solid #3391ff;
}

.button a {
  color: white;
}

.button-success {
  background: var(--green);
  width: 40%;
}

.button-danger {
  width: 40%;
  background-color: var(--red);
}

.settings__save a,
.settings__cancel a {
  color: white;
}

.active a {
  pointer-events: none;
  color: white;
}

.settings__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  position: sticky;
  top: 390px;
}

.no__sticky {
  position: relative;
  top: 0;
  bottom: 0;
}

.link__delete {
  position: absolute;
  right: -80px;
  top: -15px;
  cursor: pointer;
}

.link__up {
  position: absolute;
  right: -80px;
  top: 35px;
  cursor: pointer;
}

.link__down {
  position: absolute;
  right: -80px;
  top: 65px;
  cursor: pointer;
}

.is_settings {
  animation: shake 5.82s cubic-bezier(0.16, 0.07, 0.09, 0.47) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.change__avatar,
.change__cover {
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.link__icon.is_settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.link__icon.is_settings img {
  height: 50px;
  width: 50px;
}

.link__select {
  padding: 10px;
  border: none;
  border-radius: var(--border_radius);
  font-size: 16px;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
}

.link__select:focus {
  outline: none;
}

option[disabled] {
  background-color: #343a40;
  color: white;
}

option {
  padding: 10px;
  height: 50px;
}

.cover__background__select {
  background: none;
  padding: 5px;
  border: none;
  border-radius: var(--border_radius);
  font-size: 16px;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
}

.avatar__background__select {
  background: none;
  padding: 5px;
  border: none;
  border-radius: var(--border_radius);
  font-size: 16px;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
}

.mainscreen__content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.mainscreen__content {
  margin: auto;
}

.register_login {
  width: 100%;
  font-size: 16px;
  color: white;
}

.main__layout__wrapper-header h1,
/* .main__layout__wrapper-header p, */
.main__layout__wrapper-header h2 {
  font-weight: bold;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  align-self: center;
}

.main__screen {
  flex-direction: column;
  align-items: center;
}

form {
  border-radius: var(--border_radius);
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  padding: 20px;
  background-color: white;
}

button:disabled {
  filter: grayscale(100%);
}

.not-active-tab {
  display: none;
}

.active-tab {
  display: block;
}

.settings_tab-settings {
  max-width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: var(--border_radius);
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
}
.settings_tab-statistics {
  max-width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: var(--border_radius);
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
}

.settings_tab-appearance {
  max-width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: var(--border_radius);
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
}

hr {
  border: 0;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.settings_link a {
  color: black;
}

.appearance-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.appearance-wrapper label {
  margin-top: 20px;
  margin-bottom: 20px;
}

.appearance-wrapper small {
  margin-top: -20px;
  margin-bottom: 20px;
}

.menu-button {
  position: absolute;
  top: 10px;
  border-radius: 50%;
  right: 7px;
  background: none;
}

.menu-button span {
  margin-left: 1px;
}

.menu-button ~ .dropdown-content.visible {
  display: block;
  margin-top: 50px;
  color: #343a40;
}

.profile.no__sticky label,
.profile.no__sticky input,
.profile.no__sticky .input__input,
.profile__name-name {
  width: 100%;
  box-sizing: border-box;
}
