*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fafafa;
}

:root {
  --border_radius: 10px;
  --shadow__main: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  --main_gray: rgba(0, 0, 0, 0.6);

  --NOT_ACTIVE_SHADOW: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  --NOT_ACTIVE_SHADOW_2: 1px 1px 2px 0 rgba(0, 0, 0, 0.25),
    -1px -1px 2px 0 rgba(255, 255, 255, 0.3);
  --ACTIVE_SHADOW: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  --ACTIVE_SHADOW_2: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.2),
    inset -1px -1px 2px 0 rgba(255, 255, 255, 0.5);
  --border_raduis: 5px;
  --blue: #556ee6;
  --indigo: #564ab1;
  --purple: #6f42c1;
  --red: #f46a6a;
  --orange: #f1734f;
  --yellow: #f1b44c;
  --green: #34c38f;
  --teal: #050505;
  --cyan: #50a5f1;
  --white: #fff;
  --gray: #74788d;
  --gray-dark: #343a40;
  --primary: #556ee6;
  --secondary: #74788d;
  --success: #34c38f;
  --info: #50a5f1;
  --warning: #f1b44c;
  --danger: #f46a6a;
  --light: #eff2f7;
  --dark: #343a40;
  --pink: #e83e8c;
  --light_2: #f8f8fb;
  --shadow__main: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  --shadow__secondary: 0 6px 28px 0 rgba(24, 52, 117, 0.1);
}

.main__layout__wrapper {
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main__layout__wrapper-header {
  max-width: 100%;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
  box-sizing: border-box;
  min-height: 180px;
  max-height: 180px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
}

.main__layout__wrapper-content {
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.main__layout__wrapper-content__left {
  min-width: 340px;
  box-sizing: border-box;
  position: relative;
  max-width: 340px;
}

.main__layout__wrapper-content__main {
  width: 100%;
  box-sizing: border-box;
}

.profile,
.settings {
  /*links*/
  border-radius: var(--border_radius);
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
  background: white;
  padding: 10px;
  margin-bottom: 20px;
}

.profile {
  min-height: 150px;
  position: sticky;
  top: 20px;
}

.left-links {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.left-links p a {
  color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-weight: bold;
}

.avatar {
  width: 130px;
  height: 130px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid white;
  box-sizing: border-box;
  position: absolute;
  top: -150px;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
}

.profile__name {
  display: flex;
  justify-content: space-between;
}

.profile__name-name {
  font-weight: bold;
  font-size: 26px;
}

.profile__username {
  font-size: 14px;
  color: var(--main_gray);
}

.dropbtn {
  color: var(--main_gray);
  font-size: 16px;
  border: none;
  background: none;
}

.profile__name-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fafafa;
  min-width: 160px;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
  border-radius: var(--border_radius);
  z-index: 1;
}

.dropdown-content a {
  color: var(--black);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.profile__name-menu:hover .dropdown-content {
  display: block;
}

.profile__bio, .profile__bio.profile__bio__settings  {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: 100%;
  max-height: 3.2em;
  line-height: 1.6em;
  overflow: visible;
}

.profile__bio {
  overflow: hidden;
}
/* 
.profile__birthday {
  content: url('../img/birthday.png');
  height: 40px;
} */

.profile__birthday {
  font-size: 12px;
  color: var(--main_gray);
}

.link__icon {
  height: 50px;
}

.link__icon img {
  height: 100%;
}

.link__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;

  background: white;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: var(--border_radius);
  box-sizing: border-box;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
}

.link__title {
  font-size: 20px;
  font-weight: bold;
}

.link__texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
  position: relative;
}

.settings a {
  color: var(--main_gray);
  text-decoration: none;
}

.settings {
  position: sticky;
  top: 210px;
}

.settings.active {
  top: 325px;
}

.active {
  background: var(--gray);
}

.settings__save {
  background: var(--green);
  width: 40%;
}

.settings__cancel {
  width: 40%;
  background-color: var(--red);
}

.settings__save a,
.settings__cancel a {
  color: white;
}

.active a {
  pointer-events: none;
  color: white;
}

.settings__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 390px;
}

.link__delete {
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
}

.is_settings {
  animation: shake 5.82s cubic-bezier(.16,.07,.09,.47) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 1px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -3px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 3px, 0);
  }
}

/**** INPUT.JS ****/

.input__label {
  margin: 15px 0;
  position: relative;
  display: inline-block;
}

.input__span {
  padding: 10px;
  margin-top: 2px;
  pointer-events: none;
  position: absolute;
  left: 0;
  /* top: 0; */
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
  font-weight: normal;
  font-size: 18px;
  width: 100%;
}

.input__input {
  padding: 10px;
  border: none;
  border-radius: var(--border_radius);
  font-size: 16px;
  box-shadow: var(--NOT_ACTIVE_SHADOW_2);
}

.input__input:focus + .input__span,
.input__input:not(:placeholder-shown) + .input__span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

/* For IE Browsers*/
.input__input:focus + .input__span,
.input__input:not(:-ms-input-placeholder) + .input__span {
  opacity: 1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}

.input__input:focus {
  border: none;
  border-width: 0;
  outline: none;
  box-shadow: var(--ACTIVE_SHADOW_2);
}
