.modal__wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 0;
  overflow-y: scroll;
  z-index: 100;
}

.modal__wrapper.open {
  /* display: block; */
  height: 100%;
  transition: all 0.3s ease;
}

.modal__wrapper.close {
  height: 0;
  transition: all 0.3s ease;
  /* display: none; */
}

.modal__body {
  max-width: 500px;
  margin: auto;
  background: white;
  margin-top: 10%;
  height: 100%;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
}

.modal__close {
  width: 100%;
  margin: auto;
  /* text-align: center; */
  /* font-size: 30px; */
  padding: 0;
  margin-top: -15px;
  /* cursor: pointer;
  transform: rotate(180deg);
  color: #000; */
}

.modal__body h2 {
  color: #000;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.modal__close span::after {
  content: ' ';
  position: relative;
  display: block;
  border-radius: 10px;
  border: 1px solid lightgray;
  background: lightgray;
  height: 4px;
  width: 60px;
  margin: auto;
  cursor: pointer;
}

