.modal__wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 0;
  z-index: 100;
  display: none;
}

.modal__wrapper.open {
  height: 100%;
  display: block;
}

.modal__wrapper.close {
  height: 0;
}

.modal__body {
  max-width: 500px;
  margin: auto;
  background: white;
  margin-top: 10%;
  max-height: 100%;
  bottom: 0;
  padding: 20px;
  border-radius: 10px;
  overflow-y: scroll;
  max-height: 700px;
  position: relative;
}

.modal__body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.modal__body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal__close {
  margin: auto;
  padding: 0;
  margin-top: -15px;
  font-size: 40px;
  color: var(--main_gray);
  text-align: right;
  cursor: pointer;
}

.modal__body h2 {
  color: #000;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.scroll__wrapper {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}